av
certifi
cffi
charset-normalizer
colorama
coloredlogs
contourpy
ctranslate2
cycler
enum34
faster-whisper
filelock
flatbuffers
fonttools
fsspec
halo
huggingface-hub
humanfriendly
idna
imageio
importlib-resources
Jinja2
joblib
kiwisolver
lazy_loader
log-symbols
MarkupSafe
matplotlib
mpmath
networkx
numpy
onnxruntime
opencv-python
openwakeword
packaging
pandas
Pillow
protobuf
pvporcupine
PyAudio
pycparser
pyparsing
pyreadline3
python-dateutil
pytz
PyYAML
realtimestt
requests
scikit-image
scikit-learn
scipy
seaborn
six
soundfile
spinners
sympy
termcolor
threadpoolctl
tifffile
tokenizers
torch
torchaudio
torchvision
tqdm
typing_extensions
tzdata
urllib3
webrtcvad-wheels
websocket-client
websockets
zipp
srt
vosk
pymongo
flask
flask-cors

annotated-types
anyio
certifi
cffi
deepgram-sdk
dotenv
h11
httpcore
httpx
idna
PyAudio
pycparser
pydantic
pydantic_core
python-dotenv
sniffio
sounddevice
typing-inspection
typing_extensions
websockets